/firmware/.cache/
/firmware/build/
/DuckUpdate/.cache/
/DuckUpdate/build/

/.git.old/
/firmware/src/inc/
/firmware/src/driverlib
/copyrighted and hidden info/
/pcb/pcb-backups/
/firmware/openocd\ configs
/info/parts in schematic.xcf
